@model MVCDatatransactionBD.Transaccion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tra_accountnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tra_accountnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tra_beneficiaryname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tra_beneficiaryname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tra_bankname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tra_bankname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tra_SWIFTCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tra_SWIFTCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tra_amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tra_amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tra_datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tra_datetime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tra_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
